.input-container{
    position: relative;
    margin: 20px 0;
}

.input-box{
    outline: none;
    height: 32px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border:1px solid rgba(253, 250, 250, 0.5);
    box-shadow: 0 10px 15px black;
    background: #D2E7F5;
    font-size: 15px;
    border-radius: 5px;
}