.title-container label{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}